<template>
  <div class="container">
    <header>
      <h1>To Do App</h1>
      <h2>
        Write,Read And Delete Your Work
      </h2>
    </header>
    <main>
      <label for="task"></label>
      <input
        type="text"
        name="task"
        id="task"
        v-model="enterTask"
        placeholder="Add Task"
      />
      <br />
      <button @click="addTask">&plus;</button>
      <p v-if="tasks.length === 0">No Task. Add Some Task</p>
      <ul v-else>
        <li v-for="(task, index) in tasks" :key="task">
          {{ index + 1 }} - {{ task }}
          <span @click="removeTask(index)">&#10008;</span>
        </li>
      </ul>
    </main>
  </div>
</template>
<script>
export default {
  data() {
    return {
      enterTask: "",
      tasks: [],
    };
  },
  methods: {
    addTask() {
      if (this.enterTask !== "") this.tasks.push(this.enterTask);
      this.enterTask = "";
    },
    removeTask(index) {
      this.tasks.splice(index - 1, 1);
    },
  },
};
</script>
<style>
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.container {
  max-height: auto;
  text-align: center;
}
header,
main {
  align-items: center;
  display: grid;
  margin: 2% auto;
  width: 50%;
  height: 100px;
  box-shadow: 1px 1px 10px darkcyan;
  color: rgb(227, 184, 255);
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  font-family: "Open Sans", sans-serif;
}
main {
  height: auto;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: 1px 1px 10px #000;
  font-family: "Roboto", sans-serif;
}
input,
button {
  width: 50%;
  margin: 1% auto;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0 0 0 10px;
  transition: all 0.2s;
  outline: none;
  appearance: none;
  border: none;
}
input:focus {
  border: 4px solid orangered;
}
button {
  width: 10%;
  padding: 0;
  transition: all 0.5s;
  cursor: pointer;
  background: linear-gradient(to left, red, orange);
}
button:hover {
  width: 50%;
  background: linear-gradient(to right, red, orange);
}
p {
  font-size: 1.5rem;
  color: steelblue;
}
li {
  width: 50%;
  margin: 1% auto;
  height: auto;
  font-size: 1.5rem;
  border-radius: 20px;
  color: #000;
  background-color: #8bc6ec;
  box-shadow: 1px 1px 10px #42b4ff;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  font-family: "Rubik", sans-serif;
}
li span {
  float: right;
  width: 8%;
  font-size: 1.4rem;
  cursor: pointer;
  color: rgb(255, 74, 74);
  margin: 0 2% 0 0%;
}
@media screen and (max-width: 830px) {
  header,
  main {
    margin-top: 5%;
    width: 70%;
  }
}
@media screen and (max-width: 590px) {
  header,
  main {
    font-size: 90%;
    margin-top: 10%;
    width: 80%;
  }
}
</style>
